@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;1,700&family=Libre+Barcode+39&family=Quicksand:wght@400;600&display=swap');
html {
  max-width: 100%;
  box-sizing:border-box; 
  font-family: 'Jost', 'Quicksand', sans-serif;
  font: normal 400 1em 16px ;
  line-height: 26px;
}
body{
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing:inherit; 
}
::selection {
  background:pink;
}
#site-name{
  margin:0.5em;
}
h2 {
  text-align: center;
}
#home::before{
  content: "";
}
#main Header{
  
  position: absolute;
  height:100%;
  padding: 50em 0;
  align-items: center;
  animation-name: slide;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-direction: normal;
}
  @keyframes slide
    {
      0%
      {   top: -30%;
          transform: translate(0,0%);
      }
      100%
      {   top: 0;
          height:0;
          padding: 0;
          transform: translate(0,-50%);
      }
    }
#header{
  margin: 0;
  width: 100%;
  display:grid;
  text-align: center;
  background: transparent linear-gradient(170deg, #5C5CFF 0%, rgb(244, 65, 113) 95%) 0% 0% no-repeat padding-box;
}
#main-nav{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #242424;
  text-align: center;
  padding: 0.5em 1em;
}
#main-nav a, #header a{
  color: white;
  text-decoration:none;
}
#main-nav a:hover{
  color:rgb(255, 105, 145);
}
#main-nav ul{
  width:100%;
  place-content: center;
  display: flex;
  list-style-type: none;
  margin:0;
  padding: 0;
}
#main-nav a{
  display: flex;
  flex-direction: column;
  margin:0 1.5em;
} 
#home{
  margin: 0;
  background: linear-gradient(rgb(255, 255, 255), rgba(0, 0, 0, 0.4)), url("/shelf.jpg") center center;
  background-size: cover;
  min-height:max-content;
  padding:10em 3em;
}

#home-nav ul{
  max-width: 100%;
  display:flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 1em 5em;
  margin: 0 5em;
  list-style-type: none;
}
#home-nav li, #logout_btn li{
  text-align: center;
  margin: .5em;
  padding: 1.5em 1em;
  /* background-color: rgb(244, 65, 113); */
  background: transparent linear-gradient(170deg, #5C5CFF -10%, rgb(244, 65, 113) 80%) 0% 0% no-repeat padding-box;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.103);
  border-radius: 20px;
}
#logout_btn li{
  background-color: rgb(131, 93, 227);
}
#home-nav li:hover{
  background: transparent linear-gradient(170deg, #5C5CFF -10%, rgb(244, 65, 113) 0%) 0% 0% no-repeat padding-box;
  background-color:rgb(246, 89, 131);
}
#home-nav a, #logout_btn{
  flex:50%;
  font-size: 1.5em;
  color:white;
  text-decoration:none;
}
#logout_btn{
  background-color:rgba(255, 105, 145, 0);
  border: none;
  margin:0;
  padding:0;
  width:100%;
  font-family: 'Jost', 'Quicksand', sans-serif;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
#scannerPage, #login{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 3em 2em;
}
#login{
  margin:0 5em 0 5em;
  padding: 5em 2em;
  animation-name: slideup;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-duration: .5s;
  animation-direction: normal;
}
  @keyframes slideup
  {
    0%
    {  
        transform: translate(0,100%);
    }
    100%
    {
        transform: translate(0,15%);
    }
  }

#login button{
  font-family: 'Jost', 'Quicksand', sans-serif;
  text-align: center;
  width:50%;
  padding:0.5em 1em;
  margin-bottom: 1em;
  background-color: rgb(244, 65, 113);
  color:white;
  border-radius: 10px;
}
.email input, .password input{
  width:15em;
}
#barcode-scanner{
  max-width:100%;
  text-align: center;
  position: relative;
  margin:4em 15em;
  height: 200px;
  border: 3px solid #000;
  overflow: hidden;
}
.sweeping-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(244, 65, 113);
  animation: sweeping 2s infinite linear;
}
#search input, #searchbar input{
  font-family: 'Jost', 'Quicksand', sans-serif;
  width:250px;
  font-size: 1.5em;
  border-radius: 5px;
}
#search button, #searchbar button{
  font-family: 'Jost', 'Quicksand', sans-serif;
  font-size: 1.5em;
  background-color: rgb(244, 65, 113);
  color:white;
  border-radius: 5px;
}
#Search {
  text-align: center;
}
h1{
  padding: 1em 0em;
  margin:0;
}
#main{
  margin:0;
  background: linear-gradient(rgb(255, 255, 255), rgba(218, 218, 218, 0.75)), url("/shelf.jpg") center center;
}
.ProductPage{
  text-align: center;
  width: 100%;
  background-color: rgba(211, 211, 211, 0.5);
  color: black;
  padding: 2em 1em;
}
.ProductPage h2{
  color:rgb(244, 65, 113);
}
.ProductPage h3{
  padding: 0 8em;
}
.ProductPage button{
  border: none;
  background: none;
}
.red{
  color:rgb(244, 65, 113);
  font-size: 1.2em;
}
.red a{
  color:rgb(244, 65, 113);
}
.red a:hover{
  color:rgb(255, 105, 145);
}
.box{
  justify-content: center;
  display:flex;
  align-items:center;
}
.box svg{
  padding-right: 5em;
  color:rgb(244, 65, 113) ;
}
.product img{
  height: 200px;
  padding: 1em;
}
.padding{
  margin:0 8em;
  background-color: white;
  border-radius: 20px;
  padding: 1em;
}
.ReviewsPage{
  width: 100%;
  background-color: rgb(244, 65, 113);
  color: white;
  padding: 2em 1em;
}
.review, .items{
  margin: 1em 8em;
  padding:0.5em 2em;
  color:black;
  background-color: rgb(241, 241, 241);
  border-radius: 15px;
}
.noReview{
  text-align: center;
}
.profile{
  display: flex;
  align-items: center;
}
.date{
  color:grey;
}
.profile p {
  margin: 7px;
}
.profile img{
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
.content{
  margin:0;
}
.content img{
  margin-right: .5em;
}
#SavedItemsPage{
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 660px;
}
#SavedItemsPage h1, #SavedItemsPage h2, #SavedItemsPage h2 a{
  text-align: center;
  color:white;
  margin:0;
}
.details a{
  color:#000;
  text-decoration: none;
}
.details a:hover{
  color:rgb(244, 65, 113);
}
.noitem{
  color:white;
  text-align: center;
}
#delete_btn:hover{
color:rgb(244, 65, 113);
}
#copyright{
  background-color: rgba(0, 0, 0, 0.8);
  color:rgb(255, 255, 255);
  text-align: center;
  margin:0;
  padding: 1em;
}
#searchbox button{
  display: none;
}
#loading {
  min-height: 600px;
  text-align: center;
  place-self: center;
}
.ReviewsPage img{
  text-align: center;
}
#errorMsg{
  padding:3em 2em;
}
#main, #home, #scannerPage, #SavedItemsPage{
  max-width: 100%;
  min-height: 900px;
}
.items{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.left{
  display:flex;
}
.details{
  padding: 0 1em;
}
.details p{
  margin: 0;
}
.buttons svg{
  padding: 1em;
  margin: 0;
}




@keyframes sweeping {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(200px);
  }
}

@media screen and (max-width:768px) {
  #main, #home, #scannerPage{
    max-width: 100%;
    min-height: 800px;
  }
  #barcode-scanner{
    margin:4em 8em;
    height: 200px;
  }

}

@media screen and (max-width:480px) {
  body {
      max-width: 100%;
      height: auto 100%;
  }
  #main, #home, #scannerPage{
    min-height: 660px;
  }
  #home{
    padding: 3em 2em;
  }
  #home h2{
    margin-bottom:0;
  }
  #home-nav ul{
    margin: 0;
    padding: 1em 1.5em;
  }
  #home-nav li, #logout_btn li{
    text-align: center;
    margin: .5em;
    padding: .5em 0.8em;
  }
  #login{
    margin:0 3em 0 3em;
    padding: 3.5em 2.5em;
  }
  #login button{
    width:70%;
  }
  .email input, .password input{
    width:12em;
  }
  #barcode-scanner{
    margin:4em 2em;
    height: 120px;
    border: 3px solid #000;
  }
  .box svg{
    padding-right:.5em;
  }
  .ProductPage h3{
    padding: 0 1em;
  }
  .ProductPage img{
    height: 200px;
    /* padding: 1em 1em; */
  }
  .padding{
    margin:0 3em;
    padding: 1em;
  }
  .review, .items{
    margin: 1em 1em;
    padding: 0.5em 1em;
  }
  .content, .content p{
    margin-bottom:0;
  }
  .details{
    padding: 0 .5em;
  }
  .buttons svg{
    padding: .5em;
  }
  
  
      
  }
